<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
</head>
<body>
  <form action="#" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name"><br>
    <br>

    <p>Check all that apply: </p><br>

    <input type="checkbox" name="choices[]" value="easy">
    <label>This midterm is easy</label><br>
    <input type="checkbox" name="choices[]" value="like">
    <label>I like midterms</label><br>
    <input type="checkbox" name="choices[]" value="monday">
    <label>Today is Monday</label><br>
    <br>

    <input type="submit" value="Submit">
  </form>
</body>
</html>